.block {
 height: 120px;
 width: 120px;
 color: white;
 float: left;
 margin-left: 20px;
 margin-bottom: 20px;
 box-sizing: border-box;
}

.block-appear {
  opacity: 0.01;
  width: 0;
}

.block-appear.block-appear-active {
  width: 120px;
  opacity: 1;
  transition: all 1200ms ease-in;
}

.block-enter {
  opacity: 0.01;
  width: 0;
}

.block-enter.block-enter-active {
  opacity: 1;
  width: 120px;
  transition: all 500ms ease-in;
}

.block-leave {
  opacity: 1;
  width: 120px;
}

.block-leave.block-leave-active {
  opacity: 0.01;
  width: 0;
  transition: all 500ms ease-in;
}

.clear-fix {
  clear: both;
}